<li class="restaurant-item">
          <article>
            <div class="restaurant-meta">
              <h2><%= restaurant.name %></h2>
              <p><%= restaurant.cuisine %></p>
              <p><%= restaurant.address %></p>
            </div>
            <p>
              <%= restaurant.description %>
            </p>
            <div class="restaurant-actions">
              <a href="/restaurants/<%= restaurant.id %>">View Restaurant</a>
            </div>
          </article>
 </li>